{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>
    <p>This is a photography portfolio website created using Flask.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod nunc vitae nibh pellentesque, eu tincidunt leo aliquet. Sed laoreet euismod augue, in interdum enim vehicula et. Donec auctor dignissim felis, eu ullamcorper neque viverra eget. Donec lobortis libero ac lorem pharetra, eu tristique lectus ultricies. Nunc placerat velit sit amet ipsum lobortis sagittis. Sed efficitur quam quis nunc finibus, ut rhoncus magna bibendum. Pellentesque sed lacus vel metus vestibulum varius eu vel odio. Donec bibendum sapien at tellus hendrerit, nec scelerisque mauris facilisis. Donec a diam sit amet eros gravida ultrices in vel mauris.</p>
{% endblock %}
