{% extends "base.html" %}

{% block content %}
<div class="hero">
  <div class="hero-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Welcome to Saimon</h1>
          <p class="text-center">Check out our work</p>
          <a href="{{ url_for('portfolio') }}" class="btn btn-primary btn-lg d-block mx-auto mt-4">View Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="{{ url_for('static', filename='Pictures/' + photos[0]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <p class="card-text">We can help with various photography tasks, form photo-shoots to editing</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="{{ url_for('static', filename='Pictures/' + photos[1]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AI generated content</h5>
          <p class="card-text">We can help you choose the right tools for the rigth job. Do you want to run locally or in the cloud? Wanna pay subscriptions or set it up yourself?</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="{{ url_for('static', filename='Pictures/' + photos[2]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chatbot implementations</h5>
          <p class="card-text">Do you want your own chatbot implemented? Do you want to have full control on the data flow</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="{{ url_for('static', filename='Pictures/' + photos[3]) }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Other AI related tools</h5>
          <p class="card-text">You want to incorporate more AI in your company or in your life? we are the people to help you with that</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}
